.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 24px;
  row-gap: 45px;
  padding: 0 70px;
  margin-top: 16px;
}

.grid-item {
  aspect-ratio: 1/1;
}
